.microwave{
  margin-top: 100px;
  margin-left: 300px;
  width:740px;
  height:410px;
  background: #9B0404;
  border-radius: 10px;

}

.door{
  border-radius: 10px;
  width: 470px;
  height: 358px;
  padding-top: 30px;
  background: black;
  padding-left: 22px;
  margin-top: 10px;
  margin-left: 20px;
  display: inline-block;
}

.glass{
  border-radius: 15px 50px;
  width: 440px;
  height: 200px;
  margin-top: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
  display: inline-block;
  background: linear-gradient(90deg, red , yellow);
}

.divider{
  height: 410px;
  width: 5px;
  background-color: white;
  float: right;
  display: inline-block;
  margin-top: -40px;
}

.display{
    height:25px;
    width: 160px;
    float: right;
    margin: 10px 12px 10px 0;
    text-align: center;
    font-size: 17px;
}

.buttons{
  float:right;
}

.button{
  width:42px;
  height:40px;
  margin:0 8px 10px 0;
  font-family: impact;
  border-radius: 15px 20px;

  font-size:10px;
  text-transform: uppercase;
  color: #B8A1A1;
  background-color: black;

}


.start{
  width:80px;
  height:40px;
  margin:18px 8px 10px 0;
  font-family: impact;
  border-radius: 30px;
  font-size:12px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 15px 0px;


}

.cancel{

  width:80px;
  height:40px;
  margin:16px 8px 10px 0;
  font-family: impact;
  border-radius: 30px;
  font-size:12px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 15px 0px;
}

.eject{
  border-radius: 30px;
  width:175px;
  height:40px;
  margin:10px 8px 10px 0;
  font-family: impact;
  border-radius: 30px;
  font-size:15px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 15px 5px;

}

.microwave-top{
  border-radius: 10px;
  width: 740px;
  height: 55px;
  background-color: red;
  display: block;
  float: left;
  margin-top: -470px;
  margin-left: 38px;
  transform: skewX(-70deg)

}



.microwave-side{
  border-radius: 10px;
  width: 150px;
  height: 410px;
  background-color: #9B0404;
  display: inline;
  float: right;
  margin-top: -440px;
  margin-right: -385px;
  transform: skewY(-20deg)

}
