.calculator {
  background: #f06060;
  box-shadow: 6px 6px 3px #eeeeee;
  width: 25%;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}

#display {
  width: 75%;
  margin: 15px;
  padding: 15px;
  float: inherit;
  border: solid 5px #cb4e4e;
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}

.buttons {
  margin: 10px;
}

button:hover {
    box-shadow: 0 3px #ab3c3c;
    top: 2px;
}

button {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
  background-color: #cb4e4e;
  text-align: center;
  border: none;
  border-radius: 50%;
  box-shadow: 0 5px #ab3c3c;
  width: 60px;
  height: 60px;
  padding: 0;
}

button#clear:hover, button#divide:hover, button#multiply:hover, button#subtraction:hover, button#addition:hover {
  box-shadow: 0 3px #226fbe;
}

button#clear, button#divide, button#multiply, button#subtraction, button#addition {
  background-color: #4593e3;
  box-shadow: 0 5px #226fbe;
}

button#clear {
  width: 95%;
  border-radius: 40px;
}

button#divide, button#multiply, button#subtraction, button#addition {
  width: 35%;
  border-radius: 40px
}
